In [1]:
import pandas as pd
import utilities
import re
import matplotlib.pyplot as plt

In [8]:
data = pd.read_csv('archive/listings.csv', sep=',', encoding='utf-8')

In [9]:
# We select only the columns, that we wish to work with
data = data[utilities.listing_columns]

# We have to remove the $ from the price columns

In [6]:
def clean_price(price: str):
    price = price.replace('$', '').replace(',', '')
    return float(price)

#data['price'] = data['price'].apply(clean_price)

In [11]:
# Apply the corrections to the 'neighbourhood_cleansed' column
data['neighbourhood_cleansed'] = data['neighbourhood_cleansed'].replace(utilities.neighbourhood_corrections)

In [12]:
import re

def fix_bath(bath_str):
    if pd.isna(bath_str):  # Handle NaN values
        return -1

    bath_str = bath_str.lower()

    # Handle special cases
    if "half-bath" in bath_str:
        return 0.5
    elif "shared half-bath" in bath_str:
        return 0.5
    elif "private half-bath" in bath_str:
        return 0.5
    elif "shared" in bath_str:
        # Extract the number of shared baths
        pattern = r'\b\d+(\.\d+)?\b'
        match = re.search(pattern, bath_str)
        if match:
            return float(match.group())
        else:
            return 0  # If it says "0 shared baths" or similar
    else:
        # Extract the number of regular baths
        pattern = r'\b\d+(\.\d+)?\b'
        match = re.search(pattern, bath_str)
        if match:
            return float(match.group())
        
    # If no match is found
    return 0

# Apply the function to create a new column
data['bathrooms'] = data['bathrooms_text'].apply(fix_bath)


"""
[
'1 bath', '1.5 baths', '2 baths', '2.5 baths', 'Shared half-bath',
'Half-bath', '1 shared bath', '1 private bath', '3 baths', nan,
'0 baths', '1.5 shared baths', '2 shared baths', '3.5 baths',
'0 shared baths', '4 baths', 'Private half-bath', '4.5 baths',
'2.5 shared baths', '3 shared baths', '5 baths'
]
"""

"\n[\n'1 bath', '1.5 baths', '2 baths', '2.5 baths', 'Shared half-bath',\n'Half-bath', '1 shared bath', '1 private bath', '3 baths', nan,\n'0 baths', '1.5 shared baths', '2 shared baths', '3.5 baths',\n'0 shared baths', '4 baths', 'Private half-bath', '4.5 baths',\n'2.5 shared baths', '3 shared baths', '5 baths'\n]\n"

In [13]:
data['neighbourhood_cleansed'].unique()

array(['Nørrebro', 'Indre By', 'Vesterbro-Kongens Enghave', 'Østerbro',
       'Frederiksberg', 'Amager Øst', 'Bispebjerg', 'Brønshøj-Husum',
       'Amager Vest', 'Valby', 'Vanløse'], dtype=object)

In [14]:
data = data.drop(columns=['bathrooms_text'])

In [15]:
data['beds'] = data['beds'].fillna(-1)

In [16]:
data['beds'] = data['beds'].apply(lambda x: int(x))

In [27]:

print(data)

                       id     neighbourhood_cleansed  latitude  longitude  \
0                    6983                   Nørrebro  55.68641   12.54741
1                   26057                   Indre By  55.69307   12.57649
2                   26473                   Indre By  55.67602   12.57540
3                   29118  Vesterbro-Kongens Enghave  55.67023   12.55504
4                  670820                   Indre By  55.69001   12.57315
...                   ...                        ...       ...        ...
12490            35292340             Brønshøj-Husum  55.72588   12.48023
12491  591033498117946366                      Valby  55.65762   12.47260
12492             9872599                 Bispebjerg  55.73184   12.52648
12493  595224605480025818             Brønshøj-Husum  55.73815   12.49684
12494             4806059                 Bispebjerg  55.73038   12.54425

             room_type  accommodates  bedrooms  beds   price  bathrooms
0      Entire home/apt             2       1.0     1   877.0        1.0
1      Entire home/apt             6       4.0     4  2400.0        1.5
2      Entire home/apt            11       5.0     5  3350.0        2.0
3      Entire home/apt             2       1.0     1   725.0        1.0
4      Entire home/apt             4       1.0     2  1116.0        1.0
...                ...           ...       ...   ...     ...        ...
12490  Entire home/apt             4       3.0     3   750.0        1.0
12491  Entire home/apt             4       2.0     2  1100.0        1.0
12492  Entire home/apt             7       5.0     5  1195.0        2.0
12493  Entire home/apt             4       2.0     4  1499.0        1.0
12494  Entire home/apt             8       4.0     8  1400.0        1.5

[12495 rows x 10 columns]

In [28]:
data.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

/var/folders/8d/y0sytz_d0h7bqr1lr6ywrfhr0000gn/T/ipykernel_16631/2384198261.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_csv except for the argument 'path_or_buf' will be keyword-only.
  data.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

In [31]:
nd = pd.read_csv('archive/listings_cleaned.csv', sep=',', encoding='utf-8')
nd

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bedrooms,beds,price,bathrooms
0,6983,Nørrebro,55.68641,12.54741,Entire home/apt,2,1.0,1,877.0,1.0
1,26057,Indre By,55.69307,12.57649,Entire home/apt,6,4.0,4,2400.0,1.5
2,26473,Indre By,55.67602,12.57540,Entire home/apt,11,5.0,5,3350.0,2.0
3,29118,Vesterbro-Kongens Enghave,55.67023,12.55504,Entire home/apt,2,1.0,1,725.0,1.0
4,670820,Indre By,55.69001,12.57315,Entire home/apt,4,1.0,2,1116.0,1.0
...,...,...,...,...,...,...,...,...,...,...
12490,35292340,Brønshøj-Husum,55.72588,12.48023,Entire home/apt,4,3.0,3,750.0,1.0
12491,591033498117946366,Valby,55.65762,12.47260,Entire home/apt,4,2.0,2,1100.0,1.0
12492,9872599,Bispebjerg,55.73184,12.52648,Entire home/apt,7,5.0,5,1195.0,2.0
12493,595224605480025818,Brønshøj-Husum,55.73815,12.49684,Entire home/apt,4,2.0,4,1499.0,1.0
12494,4806059,Bispebjerg,55.73038,12.54425,Entire home/apt,8,4.0,8,1400.0,1.5

In [41]:
nd['bedrooms'] = nd['bedrooms'].fillna(-1)

In [44]:
nd.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

/var/folders/8d/y0sytz_d0h7bqr1lr6ywrfhr0000gn/T/ipykernel_16631/2536884547.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_csv except for the argument 'path_or_buf' will be keyword-only.
  nd.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

In [54]:
nd[nd['neighbourhood_cleansed'] == 'Nørrebro']['price'].mean()

np.float64(1033.9752774974772)

'product_page_structure.png'

In [61]:
nd = pd.read_csv('archive/listings_cleaned.csv', sep=',', encoding='utf-8')
nd

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bedrooms,beds,price,bathrooms
0,6983,Nørrebro,55.68641,12.54741,Entire home/apt,2,1.0,1,877.0,1.0
1,26057,Indre By,55.69307,12.57649,Entire home/apt,6,4.0,4,2400.0,1.5
2,26473,Indre By,55.67602,12.57540,Entire home/apt,11,5.0,5,3350.0,2.0
3,29118,Vesterbro-Kongens Enghave,55.67023,12.55504,Entire home/apt,2,1.0,1,725.0,1.0
4,670820,Indre By,55.69001,12.57315,Entire home/apt,4,1.0,2,1116.0,1.0
...,...,...,...,...,...,...,...,...,...,...
12490,35292340,Brønshøj-Husum,55.72588,12.48023,Entire home/apt,4,3.0,3,750.0,1.0
12491,591033498117946366,Valby,55.65762,12.47260,Entire home/apt,4,2.0,2,1100.0,1.0
12492,9872599,Bispebjerg,55.73184,12.52648,Entire home/apt,7,5.0,5,1195.0,2.0
12493,595224605480025818,Brønshøj-Husum,55.73815,12.49684,Entire home/apt,4,2.0,4,1499.0,1.0
12494,4806059,Bispebjerg,55.73038,12.54425,Entire home/apt,8,4.0,8,1400.0,1.5

In [77]:
# clean insane prices and too many bedrooms.
nd = nd[nd['price'] < 20000]
nd = nd[nd['bedrooms'] <= 6]

In [82]:
nd.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

/var/folders/8d/y0sytz_d0h7bqr1lr6ywrfhr0000gn/T/ipykernel_16631/2536884547.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_csv except for the argument 'path_or_buf' will be keyword-only.
  nd.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

In [9]:
# Lets clean the calendar
df = pd.read_csv('archive/calendar.csv', delimiter=',', encoding='utf-8')

In [10]:
df = df.drop(columns=['available', 'adjusted_price', 'minimum_nights', 'maximum_nights'])

In [11]:

df['price'] = df['price'].apply(clean_price)

In [17]:
df.to_csv('archive/calendar_cleaned.csv', sep=',', encoding='utf-8', index=False)

In [22]:
import pandas as pd
ndf = pd.read_csv('archive/calendar_cleaned.csv', sep=',', encoding='utf-8', )
#ndf['price'].apply(lambda x: x - (x%5))
print(ndf)

         listing_id        date   price
0              6983  2022-06-25   953.0
1              6983  2022-06-26   847.0
2              6983  2022-06-27   847.0
3              6983  2022-06-28   847.0
4              6983  2022-06-29   847.0
...             ...         ...     ...
4559946      441763  2023-06-20  1190.0
4559947      441763  2023-06-21  1190.0
4559948      441763  2023-06-22  1200.0
4559949      441763  2023-06-23  1200.0
4559950      441763  2023-06-24  1200.0

[4559951 rows x 3 columns]

In [25]:
ndf['date'] = pd.to_datetime(ndf['date'])

In [32]:
# Extract the year and month from the date column
ndf['year'] = ndf['date'].dt.year
ndf['month'] = ndf['date'].dt.month

# Group by listing_id, year, and month, then calculate the average price for each group
monthly_avg = ndf.groupby(['listing_id', 'year', 'month'])['price'].mean().reset_index()

# Pivot the table to have a column for each month with the average price
monthly_avg_pivot = monthly_avg.pivot_table(
    index='listing_id', 
    columns='month', 
    values='price'
)

# Rename columns to indicate the month
monthly_avg_pivot.columns = [f'avg_price_month_{month}' for month in monthly_avg_pivot.columns]

# Reset index to convert listing_id back into a column
monthly_avg_pivot = monthly_avg_pivot.reset_index()

# Display the final DataFrame
monthly_avg_pivot['avg_price_month_12'].mean()

np.float64(1231.8024777746505)

1204.5003343808014
1208.4240203085155