In [9]:
import pandas as pd
import utilities
import re
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('archive/listings.csv', sep=',', encoding='utf-8')

In [11]:
# We select only the columns, that we wish to work with
data = data[utilities.listing_columns]

# We have to remove the $ from the price columns

In [16]:
def clean_price(price: str):
    price = price.replace('$', '').replace(',', '')
    return float(price)

In [ ]:

data['price'] = data['price'].apply(clean_price)

In [13]:
# Apply the corrections to the 'neighbourhood_cleansed' column
data['neighbourhood_cleansed'] = data['neighbourhood_cleansed'].replace(utilities.neighbourhood_corrections)

In [14]:
import re

def fix_bath(bath_str):
    if pd.isna(bath_str):  # Handle NaN values
        return -1

    bath_str = bath_str.lower()

    # Handle special cases
    if "half-bath" in bath_str:
        return 0.5
    elif "shared half-bath" in bath_str:
        return 0.5
    elif "private half-bath" in bath_str:
        return 0.5
    elif "shared" in bath_str:
        # Extract the number of shared baths
        pattern = r'\b\d+(\.\d+)?\b'
        match = re.search(pattern, bath_str)
        if match:
            return float(match.group())
        else:
            return 0  # If it says "0 shared baths" or similar
    else:
        # Extract the number of regular baths
        pattern = r'\b\d+(\.\d+)?\b'
        match = re.search(pattern, bath_str)
        if match:
            return float(match.group())
        
    # If no match is found
    return 0

# Apply the function to create a new column
data['bathrooms'] = data['bathrooms_text'].apply(fix_bath)


"""
[
'1 bath', '1.5 baths', '2 baths', '2.5 baths', 'Shared half-bath',
'Half-bath', '1 shared bath', '1 private bath', '3 baths', nan,
'0 baths', '1.5 shared baths', '2 shared baths', '3.5 baths',
'0 shared baths', '4 baths', 'Private half-bath', '4.5 baths',
'2.5 shared baths', '3 shared baths', '5 baths'
]
"""

"\n[\n'1 bath', '1.5 baths', '2 baths', '2.5 baths', 'Shared half-bath',\n'Half-bath', '1 shared bath', '1 private bath', '3 baths', nan,\n'0 baths', '1.5 shared baths', '2 shared baths', '3.5 baths',\n'0 shared baths', '4 baths', 'Private half-bath', '4.5 baths',\n'2.5 shared baths', '3 shared baths', '5 baths'\n]\n"

In [15]:
data['neighbourhood_cleansed'].unique()

array(['Nørrebro', 'Indre By', 'Vesterbro-Kongens Enghave', 'Østerbro',
       'Frederiksberg', 'Amager Øst', 'Bispebjerg', 'Brønshøj-Husum',
       'Amager Vest', 'Valby', 'Vanløse'], dtype=object)

In [16]:
data = data.drop(columns=['bathrooms_text'])

In [17]:
data['beds'] = data['beds'].fillna(-1)

In [18]:
data['beds'] = data['beds'].apply(lambda x: int(x))

In [19]:

print(data)

                       id     neighbourhood_cleansed  latitude  longitude  \
0                    6983                   Nørrebro  55.68641   12.54741
1                   26057                   Indre By  55.69307   12.57649
2                   26473                   Indre By  55.67602   12.57540
3                   29118  Vesterbro-Kongens Enghave  55.67023   12.55504
4                  670820                   Indre By  55.69001   12.57315
...                   ...                        ...       ...        ...
12490            35292340             Brønshøj-Husum  55.72588   12.48023
12491  591033498117946366                      Valby  55.65762   12.47260
12492             9872599                 Bispebjerg  55.73184   12.52648
12493  595224605480025818             Brønshøj-Husum  55.73815   12.49684
12494             4806059                 Bispebjerg  55.73038   12.54425

             room_type  accommodates  bedrooms  beds   price  bathrooms
0      Entire home/apt             2       1.0     1   877.0        1.0
1      Entire home/apt             6       4.0     4  2400.0        1.5
2      Entire home/apt            11       5.0     5  3350.0        2.0
3      Entire home/apt             2       1.0     1   725.0        1.0
4      Entire home/apt             4       1.0     2  1116.0        1.0
...                ...           ...       ...   ...     ...        ...
12490  Entire home/apt             4       3.0     3   750.0        1.0
12491  Entire home/apt             4       2.0     2  1100.0        1.0
12492  Entire home/apt             7       5.0     5  1195.0        2.0
12493  Entire home/apt             4       2.0     4  1499.0        1.0
12494  Entire home/apt             8       4.0     8  1400.0        1.5

[12495 rows x 10 columns]

In [28]:
data.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

/var/folders/8d/y0sytz_d0h7bqr1lr6ywrfhr0000gn/T/ipykernel_16631/2384198261.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_csv except for the argument 'path_or_buf' will be keyword-only.
  data.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

In [66]:
nd = pd.read_csv('archive/listings_cleaned.csv', sep=',', encoding='utf-8')
nd

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bedrooms,beds,price,bathrooms
0,6983,Nørrebro,55.68641,12.54741,Entire home/apt,2,1.0,1,877.0,1.0
1,26057,Indre By,55.69307,12.57649,Entire home/apt,6,4.0,4,2400.0,1.5
2,26473,Indre By,55.67602,12.57540,Entire home/apt,11,5.0,5,3350.0,2.0
3,29118,Vesterbro-Kongens Enghave,55.67023,12.55504,Entire home/apt,2,1.0,1,725.0,1.0
4,670820,Indre By,55.69001,12.57315,Entire home/apt,4,1.0,2,1116.0,1.0
...,...,...,...,...,...,...,...,...,...,...
12469,35292340,Brønshøj-Husum,55.72588,12.48023,Entire home/apt,4,3.0,3,750.0,1.0
12470,591033498117946366,Valby,55.65762,12.47260,Entire home/apt,4,2.0,2,1100.0,1.0
12471,9872599,Bispebjerg,55.73184,12.52648,Entire home/apt,7,5.0,5,1195.0,2.0
12472,595224605480025818,Brønshøj-Husum,55.73815,12.49684,Entire home/apt,4,2.0,4,1499.0,1.0
12473,4806059,Bispebjerg,55.73038,12.54425,Entire home/apt,8,4.0,8,1400.0,1.5

In [23]:
nd['bedrooms'] = nd['bedrooms'].fillna(-1)

In [24]:
nd.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

/var/folders/8d/y0sytz_d0h7bqr1lr6ywrfhr0000gn/T/ipykernel_61628/2536884547.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_csv except for the argument 'path_or_buf' will be keyword-only.
  nd.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

In [25]:
nd[nd['neighbourhood_cleansed'] == 'Nørrebro']['price'].mean()

np.float64(1002.6375567895003)

In [9]:
nd[nd['room_type'] == 'Hotel room'].count()

id                        25
neighbourhood_cleansed    25
latitude                  25
longitude                 25
room_type                 25
accommodates              25
bedrooms                  25
beds                      25
price                     25
bathrooms                 25
dtype: int64

In [7]:
import pandas as pd
nd = pd.read_csv('archive/listings_cleaned.csv', sep=',', encoding='utf-8')
nd

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bedrooms,beds,price,bathrooms
0,6983,Nørrebro,55.68641,12.54741,Entire home/apt,2,1.0,1,877.0,1.0
1,26057,Indre By,55.69307,12.57649,Entire home/apt,6,4.0,4,2400.0,1.5
2,26473,Indre By,55.67602,12.57540,Entire home/apt,11,5.0,5,3350.0,2.0
3,29118,Vesterbro-Kongens Enghave,55.67023,12.55504,Entire home/apt,2,1.0,1,725.0,1.0
4,670820,Indre By,55.69001,12.57315,Entire home/apt,4,1.0,2,1116.0,1.0
...,...,...,...,...,...,...,...,...,...,...
12469,35292340,Brønshøj-Husum,55.72588,12.48023,Entire home/apt,4,3.0,3,750.0,1.0
12470,591033498117946366,Valby,55.65762,12.47260,Entire home/apt,4,2.0,2,1100.0,1.0
12471,9872599,Bispebjerg,55.73184,12.52648,Entire home/apt,7,5.0,5,1195.0,2.0
12472,595224605480025818,Brønshøj-Husum,55.73815,12.49684,Entire home/apt,4,2.0,4,1499.0,1.0
12473,4806059,Bispebjerg,55.73038,12.54425,Entire home/apt,8,4.0,8,1400.0,1.5

In [27]:
# clean insane prices and too many bedrooms.
nd = nd[nd['price'] < 20000]
nd = nd[nd['bedrooms'] <= 6]

In [28]:
nd.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

/var/folders/8d/y0sytz_d0h7bqr1lr6ywrfhr0000gn/T/ipykernel_61628/2536884547.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_csv except for the argument 'path_or_buf' will be keyword-only.
  nd.to_csv('archive/listings_cleaned.csv', ',', encoding='utf-8', index=False)

In [ ]:
# Lets clean the calendar
df = pd.read_csv('archive/calendar.csv', delimiter=',', encoding='utf-8')

In [14]:
df = df[df['available'] == 't'] # We only take the rows, where the listing is available. Since hosts may not adjust prices, if the location isnt available

In [15]:
df = df.drop(columns=['available', 'adjusted_price', 'minimum_nights', 'maximum_nights'])

In [17]:

df['price'] = df['price'].apply(clean_price)

In [18]:
df.to_csv('archive/calendar_cleaned_v2.csv', sep=',', encoding='utf-8', index=False)

In [25]:
import pandas as pd
ndf = pd.read_csv('archive/calendar_cleaned_v2.csv', sep=',', encoding='utf-8', )
#ndf['price'].apply(lambda x: x - (x%5))
print(ndf)

         listing_id        date  price
0              6983  2022-09-01  847.0
1              6983  2022-09-02  953.0
2              6983  2022-09-03  953.0
3              6983  2022-09-04  847.0
4              6983  2022-09-05  847.0
...             ...         ...    ...
1136317      441763  2022-07-03  975.0
1136318      441763  2022-07-04  975.0
1136319      441763  2022-07-13  975.0
1136320      441763  2022-07-19  975.0
1136321      441763  2022-07-20  975.0

[1136322 rows x 3 columns]

In [22]:
# GET WEEK DAYS!!
df = pd.read_csv('archive/calendar_cleaned_v2.csv', sep=',', encoding='utf-8', )
import pandas as pd

# Ensure the 'date' column is in datetime format
df['date'] = pd.to_datetime(df['date'])

# Extract the day of the week (e.g., Monday, Tuesday)
df['day_of_week'] = df['date'].dt.day_name()

# Group by 'listing_id' and 'day_of_week', then calculate the average price
average_prices_per_listing = (
    df.groupby(['listing_id', 'day_of_week'])['price']
    .mean()
    .reset_index()
)

# Reorder the days of the week for proper sorting
day_order = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
average_prices_per_listing['day_of_week'] = pd.Categorical(
    average_prices_per_listing['day_of_week'], categories=day_order, ordered=True
)

# Sort by listing_id and day_of_week
average_prices_per_listing = average_prices_per_listing.sort_values(
    by=['listing_id', 'day_of_week']
)

# Display the resulting dataframe
print(average_prices_per_listing)

               listing_id day_of_week  price
1                    6983      Monday  847.0
5                    6983     Tuesday  847.0
6                    6983   Wednesday  847.0
4                    6983    Thursday  847.0
0                    6983      Friday  953.0
...                   ...         ...    ...
59075  655793181544663048   Wednesday  800.0
59073  655793181544663048    Thursday  800.0
59069  655793181544663048      Friday  800.0
59071  655793181544663048    Saturday  800.0
59072  655793181544663048      Sunday  800.0

[59076 rows x 3 columns]

In [23]:
average_prices_per_listing.to_csv('archive/weekly_prices_v2.csv', sep=',', encoding='utf-8', index=False)

In [26]:
ndf['date'] = pd.to_datetime(ndf['date'])

# Extract the year and month from the date column
ndf['year'] = ndf['date'].dt.year
ndf['month'] = ndf['date'].dt.month

# Group by listing_id, year, and month, then calculate the average price for each group
monthly_avg = ndf.groupby(['listing_id', 'year', 'month'])['price'].mean().reset_index()

# Pivot the table to have a column for each month with the average price
monthly_avg_pivot = monthly_avg.pivot_table(
    index='listing_id', 
    columns='month', 
    values='price'
)

# Rename columns to indicate the month
monthly_avg_pivot.columns = [f'avg_price_month_{month}' for month in monthly_avg_pivot.columns]

# Reset index to convert listing_id back into a column
monthly_avg_pivot = monthly_avg_pivot.reset_index()

# Display the final DataFrame
monthly_avg_pivot

,listing_id,avg_price_month_1,avg_price_month_2,avg_price_month_3,avg_price_month_4,avg_price_month_5,avg_price_month_6,avg_price_month_7,avg_price_month_8,avg_price_month_9,avg_price_month_10,avg_price_month_11,avg_price_month_12
0,6983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,875.909091,NaN,NaN,NaN
1,26057,2400.0,2400.0,2400.0,2400.0,2400.0,2400.0,NaN,2400.0,2400.000000,2400.0,2400.0,2400.0
2,26473,NaN,NaN,NaN,NaN,NaN,NaN,3350.0,NaN,NaN,NaN,NaN,NaN
3,29118,NaN,NaN,NaN,NaN,NaN,NaN,725.0,NaN,NaN,725.0,NaN,NaN
4,32379,NaN,NaN,NaN,NaN,NaN,NaN,1451.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9355,655712755846262633,NaN,NaN,NaN,NaN,NaN,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN
9356,655731029644333224,NaN,NaN,NaN,NaN,NaN,1000.0,1000.0,1000.0,1000.000000,NaN,NaN,NaN
9357,655735758525634773,2400.0,2400.0,2400.0,2400.0,2400.0,2400.0,2400.0,2400.0,2400.000000,2400.0,2400.0,2400.0
9358,655774003845350731,NaN,NaN,NaN,NaN,NaN,480.0,NaN,NaN,NaN,NaN,NaN,NaN
9359,655793181544663048,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.000000,800.0,800.0,800.0

In [27]:
monthly_avg_pivot

,listing_id,avg_price_month_1,avg_price_month_2,avg_price_month_3,avg_price_month_4,avg_price_month_5,avg_price_month_6,avg_price_month_7,avg_price_month_8,avg_price_month_9,avg_price_month_10,avg_price_month_11,avg_price_month_12
0,6983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,875.909091,NaN,NaN,NaN
1,26057,2400.0,2400.0,2400.0,2400.0,2400.0,2400.0,NaN,2400.0,2400.000000,2400.0,2400.0,2400.0
2,26473,NaN,NaN,NaN,NaN,NaN,NaN,3350.0,NaN,NaN,NaN,NaN,NaN
3,29118,NaN,NaN,NaN,NaN,NaN,NaN,725.0,NaN,NaN,725.0,NaN,NaN
4,32379,NaN,NaN,NaN,NaN,NaN,NaN,1451.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9355,655712755846262633,NaN,NaN,NaN,NaN,NaN,1000.0,1000.0,NaN,NaN,NaN,NaN,NaN
9356,655731029644333224,NaN,NaN,NaN,NaN,NaN,1000.0,1000.0,1000.0,1000.000000,NaN,NaN,NaN
9357,655735758525634773,2400.0,2400.0,2400.0,2400.0,2400.0,2400.0,2400.0,2400.0,2400.000000,2400.0,2400.0,2400.0
9358,655774003845350731,NaN,NaN,NaN,NaN,NaN,480.0,NaN,NaN,NaN,NaN,NaN,NaN
9359,655793181544663048,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.000000,800.0,800.0,800.0

In [28]:
# Count the number of unique listing_id entries for each year
observations_per_year = ndf.groupby('year')['listing_id'].nunique()

# Display the result
print(observations_per_year)

year
2022    8842
2023    4486
Name: listing_id, dtype: int64

In [39]:
# Get unique listings for each year
listings_2022 = set(ndf[ndf['year'] == 2022]['listing_id'].unique())
listings_2023 = set(ndf[ndf['year'] == 2023]['listing_id'].unique())

# Find listings in 2023 but not in 2022
missing_in_2022 = listings_2023 - listings_2022

# Display the result
print("Listings present in 2023 but missing in 2022:", missing_in_2022)

Listings present in 2023 but missing in 2022: {np.int64(23868904)}

In [29]:
# Assuming 'data' is your DataFrame

# Group by listing_id and calculate the standard deviation of prices for each listing
price_variation = ndf.groupby('listing_id')['price'].std()

# Filter listings where the standard deviation is greater than 0 (indicating price variation)
listings_with_price_variation = price_variation[price_variation > 0].index

# Filter the original ndfFrame to only show listings with price variation
listings_with_price_variation_df = ndf[ndf['listing_id'].isin(listings_with_price_variation)]

# Display the result
print(listings_with_price_variation_df)

         listing_id       date  price  year  month
0              6983 2022-09-01  847.0  2022      9
1              6983 2022-09-02  953.0  2022      9
2              6983 2022-09-03  953.0  2022      9
3              6983 2022-09-04  847.0  2022      9
4              6983 2022-09-05  847.0  2022      9
...             ...        ...    ...   ...    ...
1136139      401665 2023-06-20  750.0  2023      6
1136140      401665 2023-06-21  750.0  2023      6
1136141      401665 2023-06-22  750.0  2023      6
1136142      401665 2023-06-23  750.0  2023      6
1136143      401665 2023-06-24  750.0  2023      6

[540211 rows x 5 columns]

In [30]:
print(monthly_avg_pivot)

              listing_id  avg_price_month_1  avg_price_month_2  \
0                   6983                NaN                NaN
1                  26057             2400.0             2400.0
2                  26473                NaN                NaN
3                  29118                NaN                NaN
4                  32379                NaN                NaN
...                  ...                ...                ...
9355  655712755846262633                NaN                NaN
9356  655731029644333224                NaN                NaN
9357  655735758525634773             2400.0             2400.0
9358  655774003845350731                NaN                NaN
9359  655793181544663048              800.0              800.0

      avg_price_month_3  avg_price_month_4  avg_price_month_5  \
0                   NaN                NaN                NaN
1                2400.0             2400.0             2400.0
2                   NaN                NaN                NaN
3                   NaN                NaN                NaN
4                   NaN                NaN                NaN
...                 ...                ...                ...
9355                NaN                NaN                NaN
9356                NaN                NaN                NaN
9357             2400.0             2400.0             2400.0
9358                NaN                NaN                NaN
9359              800.0              800.0              800.0

      avg_price_month_6  avg_price_month_7  avg_price_month_8  \
0                   NaN                NaN                NaN
1                2400.0                NaN             2400.0
2                   NaN             3350.0                NaN
3                   NaN              725.0                NaN
4                   NaN             1451.0                NaN
...                 ...                ...                ...
9355             1000.0             1000.0                NaN
9356             1000.0             1000.0             1000.0
9357             2400.0             2400.0             2400.0
9358              480.0                NaN                NaN
9359              800.0              800.0              800.0

      avg_price_month_9  avg_price_month_10  avg_price_month_11  \
0            875.909091                 NaN                 NaN
1           2400.000000              2400.0              2400.0
2                   NaN                 NaN                 NaN
3                   NaN               725.0                 NaN
4                   NaN                 NaN                 NaN
...                 ...                 ...                 ...
9355                NaN                 NaN                 NaN
9356        1000.000000                 NaN                 NaN
9357        2400.000000              2400.0              2400.0
9358                NaN                 NaN                 NaN
9359         800.000000               800.0               800.0

      avg_price_month_12
0                    NaN
1                 2400.0
2                    NaN
3                    NaN
4                    NaN
...                  ...
9355                 NaN
9356                 NaN
9357              2400.0
9358                 NaN
9359               800.0

[9360 rows x 13 columns]

In [31]:
# Calculate the average price for each season
monthly_avg_pivot['avg_price_season_winter'] = monthly_avg_pivot[['avg_price_month_12', 'avg_price_month_1', 'avg_price_month_2']].mean(axis=1)
monthly_avg_pivot['avg_price_season_spring'] = monthly_avg_pivot[['avg_price_month_3', 'avg_price_month_4', 'avg_price_month_5']].mean(axis=1)
monthly_avg_pivot['avg_price_season_summer'] = monthly_avg_pivot[['avg_price_month_6', 'avg_price_month_7', 'avg_price_month_8']].mean(axis=1)
monthly_avg_pivot['avg_price_season_fall'] = monthly_avg_pivot[['avg_price_month_9', 'avg_price_month_10', 'avg_price_month_11']].mean(axis=1)

# Display the DataFrame with new seasonal columns
print(monthly_avg_pivot[['listing_id', 'avg_price_season_winter', 'avg_price_season_spring', 'avg_price_season_summer', 'avg_price_season_fall']])

              listing_id  avg_price_season_winter  avg_price_season_spring  \
0                   6983                      NaN                      NaN
1                  26057                   2400.0                   2400.0
2                  26473                      NaN                      NaN
3                  29118                      NaN                      NaN
4                  32379                      NaN                      NaN
...                  ...                      ...                      ...
9355  655712755846262633                      NaN                      NaN
9356  655731029644333224                      NaN                      NaN
9357  655735758525634773                   2400.0                   2400.0
9358  655774003845350731                      NaN                      NaN
9359  655793181544663048                    800.0                    800.0

      avg_price_season_summer  avg_price_season_fall
0                         NaN             875.909091
1                      2400.0            2400.000000
2                      3350.0                    NaN
3                       725.0             725.000000
4                      1451.0                    NaN
...                       ...                    ...
9355                   1000.0                    NaN
9356                   1000.0            1000.000000
9357                   2400.0            2400.000000
9358                    480.0                    NaN
9359                    800.0             800.000000

[9360 rows x 5 columns]

In [32]:
monthly_avg_pivot.to_csv('archive/calendar_months_seasons_v2.csv', sep=',', encoding='utf-8', index=False)

In [33]:
import pandas as pd
msdf = pd.read_csv('archive/calendar_months_seasons_v2.csv', sep=',', encoding='utf-8')

In [34]:
# Mapping for month and season names
rename_mapping = {
    **{f"avg_price_month_{i}": month for i, month in enumerate(
        ["January", "February", "March", "April", "May", "June",
         "July", "August", "September", "October", "November", "December"], 1)},
    "avg_price_season_winter": "Winter",
    "avg_price_season_spring": "Spring",
    "avg_price_season_summer": "Summer",
    "avg_price_season_fall": "Fall",
}

# Rename columns
msdf.rename(columns=rename_mapping, inplace=True)

# Display renamed DataFrame
print(msdf)

              listing_id  January  February   March   April     May    June  \
0                   6983      NaN       NaN     NaN     NaN     NaN     NaN
1                  26057   2400.0    2400.0  2400.0  2400.0  2400.0  2400.0
2                  26473      NaN       NaN     NaN     NaN     NaN     NaN
3                  29118      NaN       NaN     NaN     NaN     NaN     NaN
4                  32379      NaN       NaN     NaN     NaN     NaN     NaN
...                  ...      ...       ...     ...     ...     ...     ...
9355  655712755846262633      NaN       NaN     NaN     NaN     NaN  1000.0
9356  655731029644333224      NaN       NaN     NaN     NaN     NaN  1000.0
9357  655735758525634773   2400.0    2400.0  2400.0  2400.0  2400.0  2400.0
9358  655774003845350731      NaN       NaN     NaN     NaN     NaN   480.0
9359  655793181544663048    800.0     800.0   800.0   800.0   800.0   800.0

        July  August    September  October  November  December  Winter  \
0        NaN     NaN   875.909091      NaN       NaN       NaN     NaN
1        NaN  2400.0  2400.000000   2400.0    2400.0    2400.0  2400.0
2     3350.0     NaN          NaN      NaN       NaN       NaN     NaN
3      725.0     NaN          NaN    725.0       NaN       NaN     NaN
4     1451.0     NaN          NaN      NaN       NaN       NaN     NaN
...      ...     ...          ...      ...       ...       ...     ...
9355  1000.0     NaN          NaN      NaN       NaN       NaN     NaN
9356  1000.0  1000.0  1000.000000      NaN       NaN       NaN     NaN
9357  2400.0  2400.0  2400.000000   2400.0    2400.0    2400.0  2400.0
9358     NaN     NaN          NaN      NaN       NaN       NaN     NaN
9359   800.0   800.0   800.000000    800.0     800.0     800.0   800.0

      Spring  Summer         Fall
0        NaN     NaN   875.909091
1     2400.0  2400.0  2400.000000
2        NaN  3350.0          NaN
3        NaN   725.0   725.000000
4        NaN  1451.0          NaN
...      ...     ...          ...
9355     NaN  1000.0          NaN
9356     NaN  1000.0  1000.000000
9357  2400.0  2400.0  2400.000000
9358     NaN   480.0          NaN
9359   800.0   800.0   800.000000

[9360 rows x 17 columns]

In [35]:
# Extract month and season columns based on the new names
price_columns = [col for col in msdf.columns if col in [
    "January", "February", "March", "April", "May", "June", 
    "July", "August", "September", "October", "November", "December",
    "Winter", "Spring", "Summer", "Fall"
]]

# Reshape the data
reshaped_data = pd.melt(
    msdf,
    id_vars=["listing_id"],  # Keep listing_id to maintain context if needed
    value_vars=price_columns,
    var_name="category",  # Column to indicate month/season
    value_name="price"    # Column for price values
)

# Display reshaped data
print(reshaped_data)

                listing_id category   price
0                     6983  January     NaN
1                    26057  January  2400.0
2                    26473  January     NaN
3                    29118  January     NaN
4                    32379  January     NaN
...                    ...      ...     ...
149755  655712755846262633     Fall     NaN
149756  655731029644333224     Fall  1000.0
149757  655735758525634773     Fall  2400.0
149758  655774003845350731     Fall     NaN
149759  655793181544663048     Fall   800.0

[149760 rows x 3 columns]

In [41]:
reshaped_data_dropped = reshaped_data.dropna()

In [42]:
reshaped_data_dropped.to_csv('archive/violin_data_v2.csv', sep=',', encoding='utf-8', index=False)

In [53]:
msdf = pd.read_csv('archive/violin_data_v2.csv', sep=',', encoding='utf-8')

In [54]:
msdf

               listing_id category       price
0                   26057  January  2400.00000
1                   32841  January   614.83871
2                   33680  January  1000.00000
3                   39055  January  2000.00000
4                   78381  January  1406.00000
...                   ...      ...         ...
74599  655609985490545304     Fall   860.00000
74600  655678395456226991     Fall  2200.00000
74601  655731029644333224     Fall  1000.00000
74602  655735758525634773     Fall  2400.00000
74603  655793181544663048     Fall   800.00000

[74604 rows x 3 columns]